@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');


/*font-family: 'Lobster', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;

font-family: 'Shadows Into Light', cursive;

font-family: 'ZCOOL KuaiLe', cursive;
font-family: 'ZCOOL KuaiLe', cursive;

*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
	position: sticky;
	top: 0;
}

.navbar ul{
	display: flex;
	position: relative;

}

.navbar ul li{
	list-style: none;
    text-align:center;

}

.navbar ul li a{
	color: white;
	text-decoration: none;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;


}

.navbar ul li a:hover{
	background: #00ad7a;
	border-radius: 50px 50px 50px 50px;
}

.navbar h1{
	margin:initial;
	background-color:#06ad00;
	color:#0b00ad0e,0,0,0.7)0d;
    border-radius: 0px 0px 10px 10px;
    
}

.logo{
  font-family: 'Lobster', cursive;
}

.color-text{
   
	color: rgb(0 0 0 / 70%);
}

.header{
	background: url('pexels-fauxels-3183198.jpg');
	height: 95vh;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover; 
}

.header div{
	color: white;
	background: rgba(0,0,0,0.7);
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans JP', sans-serif;

}

.head-text1{
	font-size: 4rem;
	margin-bottom: 0.6rem;
}

.p-text1{
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.btn{
	background-color: #00a8ad;
	color: white;
	padding: 0.7rem;
	border: none;
	width: 6.7rem;
}

#Services{
	display: flex;
	flex: 1;
}

.container{
	margin: 10px auto;
	width: 74rem;
}

.Services-h3{
	
	text-align: center;
}

.cards-p{
	font-size: 1rem;
	margin: 10 auto;
}

.cards{
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	padding: 1.3rem;
}

.cards i{
	background-color:#00a8ad;
	padding: 2rem;
	border-radius: 4rem;
}

#About{
	background: url('pexels-sharon-mccutcheon-1148998.jpg');
	height: 70vh;
	background-size: cover;
}

#About div{
	background-color: rgba(0,0,0,0.7);
	height: 100%;
}

.About-h1{
	color: white;
	text-align:right;
	padding: 8rem 6rem 0 45rem;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}

.About-p{
	color: white;
	text-align:right;
	padding: 1rem 6rem 0 60rem;
	font-family: 'Roboto', sans-serif;
}

.About-btn{
	margin: 1rem 6rem 0 0;
	float: right;
	padding: 0.5rem;
}

#img{
	background: url('pexels-william-fortunato-6140458.jpg');
	height: 95vh;
	background-repeat: no-repeat;
   
	background-position:center;
	background-size: cover; 
}

.form{
	text-align: right;
	margin-top: 27rem;
	margin-bottom: 0rem;
}

input{
	height: 2.3rem;
	border-radius: 30px 30px 30px 30px;
	width: 20rem;
	background-color:#987c4e
	border: 1px solid #384a4f;
}

.f-h1{
	font-size: 1.9rem;
	text-align:center;

	color: azure;
	font-family: 'Roboto', sans-serif;
	
	border-box: white;
	
	border-radius: 0px 10px 0px 10px;
    background: aquamarine;
    padding: 10px; 
    margin:auto;
    width: 150px;
    height: 85px;
}

label{
font-size: 1rem;
color: black;
font-family: 'Roboto', sans-serif;
}
.f-btn{
	background-color: #4e8598;
	padding: 0.7rem;
width:5.6rem; 
margin-top: 1rem;
}
footer{
	background: #384a4f;
	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 1.1rem;

}